.Container {
  max-width: 800px;

  position: relative;

  margin: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  border-radius: 16px;

  background-color: #181818;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    top: 10px;
    left: 10px;

    background-color: white;

    border: 1px solid black;
    border-radius: 16px;

    z-index: -1;
  }

  input {
    border: none;
    outline: none;

    border-radius: 16px;
    padding: 5px 10px;
  }

  p{
    ul{
      list-style: none;
    }
  }

  button {
    display: flex;
    justify-content: center;

    background-color: white;
    color: black;

    border-radius: 100px;
    border: none;

    padding: 5px 0;

    transition: all 0.08s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
